html { 
/*  background: url(../images/nebula.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

video {
  z-index: -1;
  position: fixed; 
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  width: auto; 
  height: auto;
  overflow: hidden;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(100, 0, 255, 0.7);
}

#title {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 100px;
  position: absolute;
  top: 15vh;
  left: 50vw;
  color: white;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

#player {
  z-index: 10;
  position: absolute;
  top: 35vh;
  left: 50vw;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

#playlist {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5em;
  position: absolute;
  top: 58vh;
  left: 50vw;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

/*BUTTON DEFAULTS*/
.icon {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px 0 10px;
  cursor: pointer;
  display: inline-block;
}

.icon:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

#previous {
  background-image: url(../images/player-wht/rewind.svg);
}

/*#stop {
  background-image: url(../images/player-wht/stop.svg);
}*/

#pause {
  background-image: url(../images/player-wht/pause.svg);
  display: none;
}

#play {
  background-image: url(../images/player-wht/play.svg);
}

#next {
  background-image: url(../images/player-wht/next.svg);
}

#shuffle {
  background-image: url(../images/player-wht/shuffle.svg);
}

/*BUTTON HOVER/ACTIVE */
#previous:hover, #previous:active {
  background-image: url(../images/player-green/rewind.svg);
}

/*#stop:hover, #stop:active {
  background-image: url(../images/player-green/stop.svg);
}*/

#pause:hover, #pause:active {
  background-image: url(../images/player-green/pause.svg);
}

#play:hover, #play:active {
  background-image: url(../images/player-green/play.svg);
}

#next:hover, #next:active {
  background-image: url(../images/player-green/next.svg);
}

#shuffle:hover, #shuffle:active {
  background-image: url(../images/player-green/shuffle.svg);
}

