body {
  width: 100vw;
  height: 100vh;
}

video {
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  color: #91DC5A;
  transform: scale(1.04);
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

#overlay {
  background-color: rgba(128, 0, 255, 0.7);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  transition: background-color 9s;
}

#title {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  font-weight: 100;
  left: 50vw;
  position: absolute;
  top: 15vh;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

#player {
  left: 50vw;
  position: absolute;
  top: 34vh;
  z-index: 10;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

#playlist {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  left: 50vw;
  letter-spacing: 2px;
  line-height: 1.5em;
  position: absolute;
  top: 58vh;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

/*============================================================
BUTTONS
============================================================*/
.button {
  background-size: 50px 50px;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  margin: 0 10px 0 10px;
  width: 50px;
}

.button:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

#previous {
  background-image: url(../images/player-wht/rewind.svg);
}

/*#stop {
  background-image: url(../images/player-wht/stop.svg);
}*/

#pause {
  background-image: url(../images/player-wht/pause.svg);
  display: none;
}

#play {
  background-image: url(../images/player-wht/play.svg);
}

#next {
  background-image: url(../images/player-wht/next.svg);
}

#shuffle {
  background-image: url(../images/player-wht/shuffle.svg);
}

/*============================================================
BUTTONS HOVER/ACTIVE
============================================================*/
#previous:hover, #previous:active {
  background-image: url(../images/player-green/rewind.svg);
}

/*#stop:hover, #stop:active {
  background-image: url(../images/player-green/stop.svg);
}*/

#pause:hover, #pause:active {
  background-image: url(../images/player-green/pause.svg);
}

#play:hover, #play:active {
  background-image: url(../images/player-green/play.svg);
}

#next:hover, #next:active {
  background-image: url(../images/player-green/next.svg);
}

#shuffle:hover, #shuffle:active {
  background-image: url(../images/player-green/shuffle.svg);
}